* {
  box-sizing: border-box;  
}
@font-face {
  font-family: "TTLakes-Regular";
  src: url(/font/TTLakes/TTLakes-Regular.woff);
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url(/font/TTLakes/TTLakes-Medium.woff);
}
@font-face {
  font-family: "TTLakes-Bold";
  src: url(/font/TTLakes/TTLakes-Bold.woff);
}
body {
  margin: 0;
  font-family: "TTLakes-Regular", Arial, sans-serif;
  color: $color-black;
  background-color: $bg-color-light-grey;
}
.page {
  overflow: hidden;
  @media (min-width: 768px) {
  }
  @media (min-width: 1366px) {
    display: flex;
    justify-content: center;
  }
}
.page--shadow {  
  display: block;
  background-color: $bg-color-white;
  opacity: 0.96;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}