.service__footer {
 
  @media (min-width: 768px) {
    margin: 32px 32px 20px 32px;
    display: flex;
    justify-content: space-between;
  }
  }
  @media (min-width: 1366px) {
    
}
.service__footer-text {
  width: 312px;
  font-size: 14px;
  font-family: "TTLakes-Medium";
  color: $color-grey;
  opacity: 0.72;
  text-align: center;
  @media (min-width: 768px) {
    width: 330px;
    &:last-child {
      text-align: right;
    }
  }   
}
