$color-black: #1B1C21;
$color-grey: #7E7E82;
$bg-color-light-grey: #f8f8f8;
$bg-color-white: #ffffff;
$bg-bullet:#b5b6bc;
$color-icon: #ff3e79;
$color-border: #d9fff5;
$color-divider: #eaeaea;
$color-high-light:#41f6d7;
$color-border2:#b8ffec;